:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.cards-section {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.card {
    padding: 40px;
    width: 320px;
}

.card.sedan {
    background: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.card.suv {
    background: var(--dark-cyan);
}

.card.luxury {
    background: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.card-title {
    font-size: 40px;
    font-family: "Big Shoulders Display", sans-serif;
    color: var(--very-light-gray);
    margin: 20px 0;
}

.card-description {
    font-size: 15px;
    color: var(--transparent-white);
    line-height: 23px;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    background: var(--very-light-gray);
    border: none;
    border-radius: 40px;
    padding: 14px 30px;
    margin-top: 20px;
}

.btn-sedan {
    color: var(--bright-orange);
}

.btn-suv {
    color: var(--dark-cyan);
}

.btn-luxury {
    color: var(--very-dark-cyan);
}

@media screen and (min-width: 700px) {
    body {
        align-items: center;
        height: 100vh;
    }

    .cards-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card.sedan {
        border-radius: 10px 0 0 10px;
    }
    .card.luxury {
        border-radius: 0 10px 10px 0;
    }
}